<mat-toolbar class="mat-elevation-z6" color="primary">
    <span>Orman Test Application</span>
</mat-toolbar>
<div id="container">
    <div id="master">
        <h3 class="tableTitle">Vehicles</h3>
       <!-- <mat-card> -->
            <div>
            <table mat-table [dataSource]="dataSource" matSort >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let vehicle"> {{vehicle.name}} </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let vehicle"> {{vehicle.type}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let currVehicle; columns: displayedColumns;"
                (click)="onRowSelect($event, currVehicle)"
                [ngClass]="{ 'selected': currVehicle == selectedVehicle }">
            </tr>

            </table>
        </div>
        
        <!-- </mat-card> -->
         <mat-divider [vertical]="true"></mat-divider> 
    </div>
    <div class="mat-elevation-z2" id="detail">
        <app-vehicle-detail [vehicle]="selectedVehicle"></app-vehicle-detail>
    </div>
</div>