@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

table {
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#master {
  width: 25%;
}
#detail {
  width: 75%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-row {
  &.selected {
    background: mat-color($accent);
    font-weight: bold; 
  }
}

.tableTitle {
  text-align: center;
  color: #424242;
}