<mat-list>
    <mat-list-item *ngFor="let reading of odometerReadingsForVehicle; let odometerIndex = index; last as isLast">
        <mat-icon mat-list-icon>av_timer</mat-icon>
        <h2 mat-line>Odometer Recorded on {{parseDate(reading.date) | date:'medium'}}</h2>
        <p mat-line>{{reading.miles}} Miles</p>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </mat-list-item>
</mat-list>
