<div *ngIf="vehicle; else elseBlock">
  <mat-tab-group #tabs>

    <mat-tab class="detailControls" label="Vehicle Detail">
      <div id="verticalControls">
        <mat-form-field>
          <input required matInput [(ngModel)]="vehicle.name" placeholder="Vehicle Name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Type</mat-label>
          <mat-select [(value)]="vehicle.type" required>
            <mat-option value="car">Car</mat-option>
            <mat-option value="truck">Truck</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input required matInput [(ngModel)]="vehicle.horsepower" placeholder="Vehicle Horsepower" />
        </mat-form-field>

          <mat-form-field>
            <input matInput disabled [value]="parseDate(vehicle.created)" [matDatepicker]="vehicleCreatedPicker" placeholder="Date Created" required>
            <mat-datepicker-toggle matSuffix [for]="vehicleCreatedPicker"></mat-datepicker-toggle>
            <mat-datepicker #vehicleCreatedPicker></mat-datepicker>
          </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Service Events"> 
      <app-service-events [serviceEventsForVehicle]="vehicle.serviceEvents" (itemIndexToNavigateToEvent)=navigateToItemsSold($event) ></app-service-events>
    </mat-tab>

    <mat-tab label="Items Sold"> 
      <app-items-sold [serviceEventsIndexToView]="serviceEventIndexToNavigateTo" [serviceEventsForVehicle]="vehicle.serviceEvents"></app-items-sold>
    </mat-tab>

    <mat-tab label="Odometer Readings"> 
      <app-odometer-events [odometerReadingsForVehicle]="vehicle.odometerReadings"></app-odometer-events>
    </mat-tab>

  </mat-tab-group>
</div>
<ng-template #elseBlock>
  <div id="placeholderContainer">
    <h1 class="mat-title placeholderText">Please Select a Vehicle</h1>
  </div>
</ng-template>