/* This is needed so our vehicle-detail component fills the entire area. */
:host {
    display: block;
    width: 75%;
    height: 100%;
}

#verticalControls {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#placeholderContainer {
    display: flex;
    align-items: center;
    
    height: 100%;
}

.placeholderText {
    width: 100%;
    text-align: center;
    color: #424242;
}
