<mat-accordion multi="true">

  <mat-expansion-panel expanded="false" *ngFor="let serviceEvent of serviceEventsForVehicle; let serviceEventIndex = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Service Date
      </mat-panel-title>
      <mat-panel-description>
        {{parseDate(serviceEvent.date) | date:'medium'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let service of serviceEvent.servicesPerformed; last as isLast">
          <mat-icon mat-list-icon>local_offer</mat-icon>
          <h2 mat-line>{{titleCase(service.serviceType.name)}}</h2>
          <p mat-line>{{service.serviceType.pricePerHour | currency}} Price Per Hour</p>
          <p mat-line>{{service.hours}} Hours</p>
          <p mat-line>Total Service Price: {{service.hours * service.serviceType.pricePerHour | currency}}</p>

          <mat-divider *ngIf="!isLast"></mat-divider>
      </mat-list-item>
      <a class="navigateToItemsSold" (click)="onItemsSoldSelected(serviceEventIndex)">
        <u>{{serviceEvent.itemsSold.items.length}} Item{{serviceEvent.itemsSold.items.length > 1 ? 's' : ''}} Sold </u>
      </a>
      <br />
      <a class="navigateToItemsSold" (click)="onItemsSoldSelected(serviceEventIndex)">
        <u>{{serviceEvent.itemsSold.freebies.length}} Freebie{{serviceEvent.itemsSold.freebies.length > 1 ? 's' : ''}} Given </u>
      </a>
    </mat-list>

  </mat-expansion-panel>
  </mat-accordion>
