<mat-accordion multi="true">

    <mat-expansion-panel [expanded]="serviceEventsIndexToView == serviceEventIndex && serviceEventsIndexToView != null" 
        *ngFor="let serviceEvent of serviceEventsForVehicle; let serviceEventIndex = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Service Date
        </mat-panel-title>
        <mat-panel-description>
          {{parseDate(serviceEvent.date) | date:'medium'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <h3>Items</h3>
      <mat-list>
        <mat-list-item *ngFor="let item of serviceEvent.itemsSold.items; last as isLast">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <h2 mat-line>{{titleCase(item.itemType.name)}}</h2>
            <p mat-line>Units Sold: {{item.units}}</p>
            <p mat-line>Price Per Unit: {{item.itemType.pricePerUnit | currency}}</p>
            <p mat-line>Total Item Cost: {{item.units * item.itemType.pricePerUnit | currency}}</p>
            <mat-divider *ngIf="!isLast"></mat-divider>
        </mat-list-item>

        <h3>Freebies</h3>
        <mat-list-item *ngFor="let freebie of serviceEvent.itemsSold.freebies; last as isLast">
            <mat-icon mat-list-icon>mood</mat-icon>
            <h2 mat-line>{{titleCase(freebie.fType.name)}}</h2>
            <p mat-line>Units Given: {{freebie.count}}</p>
            <mat-divider *ngIf="!isLast"></mat-divider>
        </mat-list-item>
      </mat-list>
  
    </mat-expansion-panel>
    </mat-accordion>
  